/* Fix skeleton typographic crimes */
body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family:  "Lato","Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

body, html {
    background-color:#f5f5f5;
}

h1, h2, h3, h4, h5, h6 { 
    letter-spacing:0.1rem;
    font-weight:300;
    font-style:normal;
    margin-top: 1rem; 
    margin-bottom: 0.2rem;
}

h1 {
    font-size:3.2rem;
    color:#1073ba;
}
h2 {
    font-size:2.8rem;
}
h3 {
    font-size:2.4rem;
}
h4 {
    font-size:1.8rem;
}
h5 {
    font-size:1.6rem;
}
h6 {
    font-size:1.4rem;
       font-weight:600;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin:1rem 0 0 0;
}

a {
    text-decoration:none;
    color:#1073ba;
}

a:hover {
    color:#e46401;
}

.button, input[type=submit].button {
    color:#fff;
    background-color:#1073ba;
    font-size:1.6rem;
    font-weight:300;
    letter-spacing:0.2rem;
    border:none;
    border-radius:0.2rem;
    margin:2rem auto;
    max-width:100%;
}

.button.small {
    font-size:1.2rem;
    margin:0.3rem 0rem;
    padding:0.4rem 0.5rem;
    line-height:2rem;
    height:auto;
    background-color:#aaa;
}

.button:hover {
    color:#fff;
    border:none;
    background-color:#1073ba;
}

.clear {
    clear:both;
}
.right {
    float:right;
}
.left {
    float:left;
}

.align-center {
    text-align:center;
}

.align-right {
    text-align:right;
}

.hidden {
    display:none;
}

.inline {
    list-style:none;
    display:inline;
    margin:0 0 0 3%;
}

.inline li {
       margin:0 3% 0 0;
       padding:0; 
       font-weight:200;
       display:inline;
       white-space: nowrap;
}



/* Larger than tablet */
@media (min-width: 750px) {
    
    h1 {
        font-size:4rem;
    }
    h2 {
        font-size:3rem;
    }
    h3 {
        font-size:2.5rem;
    }
    h4 {
        font-size:2rem;
    }
    h5 {
        font-size:1.8rem;
    }
    h6 {
        font-size:1.5rem;
    }
    

}
