/* Setup tables for cms */
CREATE TABLE fragmenta_metadata (
    id SERIAL NOT NULL,
    updated_at timestamp,
    fragmenta_version text,
    migration_version text,
    status int
);

ALTER TABLE fragmenta_metadata OWNER TO "[[.fragmenta_db_user]]";

DROP TABLE IF EXISTS users;
CREATE TABLE users (
id SERIAL NOT NULL,
created_at timestamp,
updated_at timestamp,
email text,
name text,
status integer,
role integer,
encrypted_password text
);
ALTER TABLE users OWNER TO "[[.fragmenta_db_user]]";
